/* 
.backImg{
    background-image: url('./components/img/shawn-rain-aHRP-2ghtlo-unsplash.jpg');
    background-size: cover;
    background-repeat: repeat-y;

    
} */


.contentBackground{
    background-color:burlywood;
}

